{% extends "flights/layout.html" %}

{% block body %}
<h1>Flight {{ flightRequested.id }}</h1>
<a href="{% url "index" %}">Home</a>
<ul>
    <li>Origin: {{ flightRequested.origin }}</li>
    <li>Destination: {{ flightRequested.destination }}</li>
    <li>Duration: {{ flightRequested.duration }}</li>
</ul>
<ul>
{% for passenger in passengers %}
<li>{{ passenger }}</li>
{% endfor %}
</ul>

<h2>Add passenger</h2>

<form action="{% url "book" flightRequested.id %}" method="post">
    {% csrf_token %}
    <select name="passenger" id="">
        {% for non_passenger in non_passengers %}
        <option value="{{non_passenger.id}}">{{non_passenger}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Submit">
</form>
{% endblock body %}